.DS_Store
Qtz_fx/.DS_Store
media/bulles loop.mov
media/waves_1_loop_2.mov
VDMX/Favorites
VDMX/Recent Files
VDMX/Recent Places
VDMX/SavedCompModes
VDMX/SavedNumFXChains
VDMX/SavedTXTIMGSrcs
VDMX/SavedVidFXChains
VDMX/SavedWindowServerPos
media/bulles loop 3048 720.mov
